*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #FFD900;
    padding: 10px;
    height: 100px;
}

#imgccxp {
    margin-left: 40px;
    margin-top: 17px;
}



.main {
    display: grid;
    grid-auto-flow: column;
    
}

#revive {
    font-size: 50px;
}

.text {
    background-color: #514988;
    width: 858px;
}

#textMain {
    margin-top: 80px;
    font-size: 29px;
}

.timer {
    margin-top: 20px;
    color: #514988;
    font-size: 30px;
}

.count {
    display: grid;
    grid-auto-flow: column;
    padding-left: 30px;
    text-align: center;
}

h4 {
    text-align: center;
    color: #E33881;
}

h1 {
    color: #F3C61F;
    text-align: center;
    margin: 15px;
    font-size: 30px;

}
h2 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}


p {
    text-align: center;
    color: #FFFFFF;
}
footer {
    display: grid;
    grid-auto-flow: column;
}

.cards {
    height: 300px;
}

.dias {
    margin-left: 100px;
}
.dias img {
    width: 200px;
}

.button {
    text-align: left;
}
button {
    background-color: #514988;
    color: #FFFFFF;
    margin-top: 100px;
    width: 500px;
    height: 100px;
    border-radius: 15px;
    font-family: Verdana;
    font-size: 25px;
    text-align: center;
}

button:hover {
    background: #514988;
    cursor: pointer;
    color: #F3C61F;
}

img {
    width: 230px;
}

.card-highlight {
    box-shadow: 10px 10px 10px 10px gray;
}

.card-selected {
    border: 5px solid green;
}

input {
    background-color: #514988;
    border-radius: 10px;
    color: #ffffff;
    border: 0px;
    margin: 30px;
    width: 300px;
    height: 70px;
    font-size: 30px;
}

section {
    background-color: #F3C61F;
}